@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Source Sans Pro', sans-serif;
}

#container {
    max-width: 800px;
    margin: 60px auto;

    box-sizing: border-box;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid lightgray;
}

footer {
    text-align: center;
    font-size: 11pt;
}

footer p:last-of-type {
    font-size: 80%;
    color: gray;
}

#modal-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);

    display: none;
    flex-direction: column;
    justify-content: center;
}

.modal {
    max-width: 500px;
    min-width: 300px;

    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid gray;
    background: white;

    padding: 15px;
}

.modal p:first-child {
    margin-top: 0;
}

#modal-container.visible {
    display: flex;
}

#modal-container.visible + #content-container {
    filter: blur(8px);
}
