#breadcrumb ol {
    margin: 0;
    padding: 0;
    counter-reset: breadcrumb;
    list-style: none;
    display: flex;
    flex-direction: row;

    border: 1px solid lightgray;
    border-radius: 3px;
}

#breadcrumb li {
    margin: 0;
    padding: 10px;
    counter-increment: breadcrumb;
    cursor: pointer;
}

#breadcrumb li.selected {
    background-color: #e9e9e9;
}

#breadcrumb li:not(.selected) {
    color: gray;
}

#breadcrumb li::before {
    content: counter(breadcrumb) ": ";
    font-weight: bold;
}

#username {
    font-weight: bold;
}

#step-container .hidden {
    display: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: inherit;
    cursor: pointer;
    background-color: #e9e9e9;
}

#next {
    background-color: dodgerblue;
    margin-top: 20px;
    color: white;
}

/* Step 1 */
#step1-objtype-container {
    margin: 20px 0;
}

#step1-objtype-container input:first-of-type {
    margin-left: 0;
}

#album-info-container.hidden {
    display: none;
}

#album-info-container table {
    border-spacing: 10px 0;
    flex: none;
    align-self: start;
}

#album-info-container table th {
    text-align: right;
    vertical-align: top;
}

#album-info-container table td {
    vertical-align: top;
}

#album-uri-data {
    font-family: monospace;
}

#album-image {
    flex-shrink: 1;
    min-width: 0;
}

#album-info-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#album-info-flex table {
    flex-basis: 0;
    flex-grow: 1;
}

#album-image img {
    flex-shrink: 1;
    max-width: 300px;
}

/* Step 2 */
#step2-matchup-view {
    border: 1px solid lightgray;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 230px auto;
    margin-top: 10px;

    height: 450px;
}

#step2-matchup-view h3 {
    margin: 0;
    font-weight: normal;
}

#step2-matchup-view hr {
    margin: 10px 0;
}

#step2-matchup-status {
    padding: 10px;
    border-right: 1px solid lightgray;
    word-wrap: anywhere;
    overflow-y: scroll;
}

#step2-matchup-status ol {
    margin: 0;
    padding: 0;
    counter-reset: matchup;
    list-style: none;
}

#step2-matchup-status li {
    counter-increment: matchup;
    cursor: pointer;
    margin: 8px 0;
}

#step2-matchup-status li.bye {
    cursor: not-allowed;
    color: gray;
}

#step2-matchup-status li::before {
    content: "Match " counter(matchup) ": ";
}

#step2-matchup-current {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#step2-matchup-current h3 {
    text-align: center;
}

#step2-matchup-items {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    height: 100%;
}

#step2-matchup-items .vs {
    text-align: center;
    font-variant: all-small-caps;
    font-size: 130%;
    font-weight: bold;
    color: darkred;
    align-self: center;
}

#step2-item-left, #step2-item-right {
    word-wrap: anywhere;

    display: flex;
    flex-direction: column-reverse;
}

#step2-item-left {
    text-align: left;
}

#step2-item-right {
    text-align: right;
}

#step2-item-left .info {
    margin-top: auto;
}

#step2-matchup-items .play {
    color: lightblue;
    text-decoration: underline;
    cursor: pointer;
}

#step2-matchup-current p {
    margin: 5px 0 10px;
}

#step2-matchup-current p:first-of-type {
    margin: 0;
}

#step2-selector {
    display: grid;
    grid-template-columns: auto auto;
}

#step2-selector-left, #step2-selector-right {
    font-variant: all-small-caps;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin: -10px 0;
    font-size: larger;
}

#step2-selector-left {
    text-align: left;
}

#step2-selector-right {
    text-align: right;
}

#step2-matchup-current-contents {
    height: 300px;
}

#step2-item-left, #step2-item-right {
    position: relative;
    cursor: pointer;
}

#step2-item-left .bg, #step2-item-right .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade img {
    filter: blur(8px) grayscale(60%) contrast(90%);
    transform: scale(1.05);
    transition: 0.2s filter ease-out, 0.2s transform ease-out;
}

.info {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: initial;
}

#step2-matchup-footer {
    margin-top: auto;
}

#step2-next-round {
    background-color: dodgerblue;
    color: white;
}

/* Animations */
.fade:hover img {
    filter: blur(0) grayscale(0) contrast(1);
    transform: scale(1.2) !important;
}

.fade.selected img {
    filter: blur(0) grayscale(0) contrast(1);
    transform: scale(1.1);
}
